
//-//- Body
if  bodyClass
	|
	|
	<body class="#{ bodyClass}">
else
	|
	|
	<body>


//-//- After Body Script
//- include ../script/afterbody-script.js

//- <a class="skip-link u--screen-reader-text" href="#content" title="ข้ามไปยังส่วนของข้อมูล">ข้ามไปยังส่วนของข้อมูล</a>