
// Sidenav
nav#sidenav-main.sidenav.navbar.navbar-vertical.fixed-left.navbar-expand-xs.sidenav-menu
	.scrollbar-inner

		// Brand
		.sidenav-header.d-flex.align-items-center
			|
			|
			a.navbar-brand(href="dashboard.html", title="Dashboard")
				img.navbar-brand-img.logo-brand(alt="Dashboard")

			// Sidenav toggler
			.ml-auto
				.sidenav-toggler.sidenav-toggler-dark.d-none.d-xl-block(data-action="sidenav-unpin", data-target="#sidenav-main")
					.sidenav-toggler-inner
						i.sidenav-toggler-line
						i.sidenav-toggler-line
						i.sidenav-toggler-line

		// Collapse
		.navbar-inner
			#sidenav-collapse-main.collapse.navbar-collapse

				// Nav items
				ul.navbar-nav
					li.nav-item
						|
						|
						a.nav-link(href="dashboard.html", title="Dashboard")
							i.fad.fa-home-lg-alt
							span.nav-link-text Dashboard

					li.nav-item
						|
						|
						a.nav-link(href="service.html", title="Service")
							i.fad.fa-gem
							span.nav-link-text Service

					li.nav-item
						|
						|
						a.nav-link(href="users.html", title="Users")
							i.fad.fa-user-cog
							span.nav-link-text Users

					li.nav-item
						|
						|
						a.nav-link(href="#", title="Logging")
							i.fad.fa-warehouse
							span.nav-link-text Logging
