
// Sidenav
nav#sidenav-main.sidenav.navbar.navbar-vertical.fixed-left.navbar-expand-xs.sidenav-menu
	.scrollbar-inner

		// Brand
		.sidenav-header.d-flex.align-items-center
			|
			|
			a.navbar-brand(href="#", title="Dashboard")
				img.navbar-brand-img.logo-brand(alt="Dashboard")

			// Sidenav toggler
			.ml-auto
				.sidenav-toggler.sidenav-toggler-dark.d-none.d-xl-block(data-action="sidenav-unpin", data-target="#sidenav-main")
					.sidenav-toggler-inner
						i.sidenav-toggler-line
						i.sidenav-toggler-line
						i.sidenav-toggler-line

		// Collapse
		.navbar-inner
			#sidenav-collapse-main.collapse.navbar-collapse

				// Nav items
				ul.navbar-nav
					li.nav-item
						|
						|
						a.nav-link.active(href="#navbar-dashboards", title="Dashboard", data-toggle="collapse", role="button", aria-expanded="true", aria-controls="navbar-dashboards")
							i.fad.fa-chart-line
							span.nav-link-text Dashboard
						#navbar-dashboards.collapse.show
							ul.nav.nav-sm.flex-column
								li.nav-item: a.nav-link.active(href="#", title="Sub Menu") Sub Menu
								li.nav-item: a.nav-link(href="#", title="Sub Menu") Sub Menu

					li.nav-item
						|
						|
						a.nav-link(href="#menu-login", title="menu login", data-toggle="collapse", role="button", aria-expanded="false", aria-controls="menu-login")
							i.fad.fa-sign-in-alt
							span.nav-link-text Login
						#menu-login.collapse
							ul.nav.nav-sm.flex-column
								li.nav-item
									a(href="../login/login.html" class="nav-link" title="login") Login page
								li.nav-item
									a(href="../login/register.html" class="nav-link" title="register") Register page
								li.nav-item
									a(href="../login/lock.html" class="nav-link" title="lock") Lock page

					li.nav-item
						|
						|
						a.nav-link(href="#menu-card", title="Menu card", data-toggle="collapse", role="button", aria-expanded="false", aria-controls="menu-card")
							i.fad.fa-columns
							span.nav-link-text Card
						#menu-card.collapse
							ul.nav.nav-sm.flex-column
								li.nav-item
									a(href="../card/index.html" class="nav-link" title="Card Layout") Card Layout


					li.nav-item
						|
						|
						a.nav-link(href="#menu-form", title="Menu Form", data-toggle="collapse", role="button", aria-expanded="false", aria-controls="menu-form")
							i.fad.fa-file-alt
							span.nav-link-text Form
						#menu-form.collapse
							ul.nav.nav-sm.flex-column
								li.nav-item
									a(href="../form/index.html" class="nav-link" title="Form Layout") Form Layout

					li.nav-item
						|
						|
						a.nav-link(href="#menu-grid" title="menu grid" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-grid")
							i.fad.fa-table
							span.nav-link-text Grid
						#menu-grid.collapse
							ul.nav.nav-sm.flex-column
								li.nav-item
									a(href="../grid/index.html" class="nav-link" title="Grid Layout") Grid Layout

					li.nav-item
						|
						|
						a.nav-link(href="#menu-elements" title="Elements" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="elements")
							i.fad.fa-gem
							span.nav-link-text Elements
						#menu-elements.collapse
							ul.nav.nav-sm.flex-column
								li.nav-item
									a(href="../button/index.html" class="nav-link" title="Buttons") Buttons
								li.nav-item
									a(href="../modal/index.html" class="nav-link" title="Modal") Modal
								li.nav-item
									a(href="../tabs/index.html" class="nav-link" title="Tabs") Tabs
								li.nav-item
									a(href="../accordion/index.html" class="nav-link" title="Accordion") Accordion

					li.nav-item
						|
						|
						a.nav-link(href="#menu-5" title="เมนู 5" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-5")
							<i class="fad fa-chart-pie"></i>
							span.nav-link-text เมนู 5
						#menu-5.collapse
							ul.nav.nav-sm.flex-column
								li.nav-item
									a(href="#" class="nav-link" title="เมนูย่อย 5") เมนูย่อย 5
								li.nav-item
									a(href="#" class="nav-link" title="เมนูย่อย 5") เมนูย่อย 5
								li.nav-item
									a(href="#" class="nav-link" title="เมนูย่อย 5") เมนูย่อย 5
