
// Topnav
nav.navbar.navbar-top.navbar-expand.navbar-light.bg-lighter.border-bottom
	.container-fluid
		#navbarSupportedContent.collapse.navbar-collapse

			// Navbar links
			ul.navbar-nav.align-items-center.ml-md-auto
				// Sidenav toggler
				li.nav-item.d-xl-none
					.pr-3.sidenav-toggler.sidenav-toggler-light(data-action="sidenav-pin", data-target="#sidenav-main")
						.sidenav-toggler-inner
							i.sidenav-toggler-line
							i.sidenav-toggler-line
							i.sidenav-toggler-line

						// Switcher
						li.nav-item.dropdown
							|
							|
							a.nav-link(href="#", title="เปลี่ยนระบบ", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false"): i.fad.fa-window-restore

							.dropdown-menu.dropdown-menu-lg.dropdown-menu-dark.dropdown-menu-right.switcher
								.row.shortcuts.px-4
									|
									|
									a.col-3.shortcut-item(href="#", title="Service 1")
										span.shortcut-media.avatar.rounded-circle
											img(alt="Service 1", src="../../uploads/angular.jpg")
										small Service 1
									|
									|
									a.col-3.shortcut-item(href="#", title="Service 2")
										span.shortcut-media.avatar.rounded-circle
											img(alt="Service 2", src="../../uploads/bootstrap.jpg")
										small Service 2
									|
									|
									a.col-3.shortcut-item(href="#", title="Service 3")
										span.shortcut-media.avatar.rounded-circle
											img(alt="Service 3", src="../../uploads/react.jpg")
										small Service 3
									|
									|
									a.col-3.shortcut-item(href="#", title="Service 4")
										span.shortcut-media.avatar.rounded-circle
											img(alt="Service 4", src="../../uploads/sketch.jpg")
										small Service 4
									|
									|
									a.col-3.shortcut-item(href="#", title="Service 5")
										span.shortcut-media.avatar.rounded-circle
											img(alt="Service 5", src="../../uploads/vue.jpg")
										small Service 5


			// Profile user
			ul.navbar-nav.align-items-center.ml-auto.ml-md-0
				li.nav-item.dropdown
					|
					|
					a.nav-link.pr-0(href="#", title="", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
						.media.align-items-center
							span.avatar.avatar-sm.rounded-circle
								img(alt="", src="../../uploads/user.jpg")
							.media-body.ml-2.d-none.d-lg-block
								span.mb-0.text-sm.font-weight-bold ปฐมพงศ์

					.dropdown-menu.dropdown-menu-right
						.dropdown-header.noti-title
							h5.text-overflow.m-0 สวัสดี !
							|
							|
						a.dropdown-item(href="#", title="ข้อมูลส่วนตัว")
							i.fad.fa-user-circle
							span ข้อมูลส่วนตัว
						|
						|
						a.dropdown-item(href="#", title="ออกจากระบบ")
							i.fad.fa-sign-out-alt
							span ออกจากระบบ
