<!DOCTYPE html>
<html lang="th">
  <head>
    <title>Monito Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="724 Market">
    <meta name="description" content="Monito Template">
    <!-- Font Style-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Prompt:400,500|Sarabun:400,600,800&amp;display=swap&amp;subset=thai">
    <!-- Core CSS-->
    <link rel="stylesheet" href="../../assets/css/base/base.css">
    <!-- Theme CSS-->
    <link rel="stylesheet" href="../../assets/css/theme/theme-724.css">
    <!-- Components CSS-->
    <link rel="stylesheet" href="../../assets/css/components/components.css">
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="../../assets/img/favicon/724-favicon.png">
    <!--[if IE]>
    <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  
  <body>
  <!-- Sidenav-->
  <nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs sidenav-menu" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand-->
      <div class="sidenav-header d-flex align-items-center">
        
        <a class="navbar-brand" href="#" title="Dashboard"><img class="navbar-brand-img logo-brand" alt="Dashboard"></a>
        <!-- Sidenav toggler-->
        <div class="ml-auto">
          <div class="sidenav-toggler sidenav-toggler-dark d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner"><i class="sidenav-toggler-line"></i><i class="sidenav-toggler-line"></i><i class="sidenav-toggler-line"></i></div>
          </div>
        </div>
      </div>
      <!-- Collapse-->
      <div class="navbar-inner">
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items-->
          <ul class="navbar-nav">
            <li class="nav-item">
              
              <a class="nav-link active" href="#navbar-dashboards" title="Dashboard" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards"><i class="fad fa-chart-line"></i><span class="nav-link-text">Dashboard</span></a>
              <div class="collapse show" id="navbar-dashboards">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item"><a class="nav-link active" href="#" title="Sub Menu">Sub Menu</a></li>
                  <li class="nav-item"><a class="nav-link" href="#" title="Sub Menu">Sub Menu</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" href="#menu-login" title="menu login" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-login"><i class="fad fa-sign-in-alt"></i><span class="nav-link-text">Login</span></a>
              <div class="collapse" id="menu-login">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item"><a class="nav-link" href="../login/login.html" title="login">Login page</a></li>
                  <li class="nav-item"><a class="nav-link" href="../login/register.html" title="register">Register page</a></li>
                  <li class="nav-item"><a class="nav-link" href="../login/lock.html" title="lock">Lock page</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" href="#menu-card" title="Menu card" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-card"><i class="fad fa-columns"></i><span class="nav-link-text">Card</span></a>
              <div class="collapse" id="menu-card">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item"><a class="nav-link" href="../card/index.html" title="Card Layout">Card Layout</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" href="#menu-form" title="Menu Form" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-form"><i class="fad fa-file-alt"></i><span class="nav-link-text">Form</span></a>
              <div class="collapse" id="menu-form">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item"><a class="nav-link" href="../form/index.html" title="Form Layout">Form Layout</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" href="#menu-grid" title="menu grid" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-grid"><i class="fad fa-table"></i><span class="nav-link-text">Grid</span></a>
              <div class="collapse" id="menu-grid">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item"><a class="nav-link" href="../grid/index.html" title="Grid Layout">Grid Layout</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" href="#menu-elements" title="Elements" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="elements"><i class="fad fa-gem"></i><span class="nav-link-text">Elements</span></a>
              <div class="collapse" id="menu-elements">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item"><a class="nav-link" href="../button/index.html" title="Buttons">Buttons</a></li>
                  <li class="nav-item"><a class="nav-link" href="../modal/index.html" title="Modal">Modal</a></li>
                  <li class="nav-item"><a class="nav-link" href="../tabs/index.html" title="Tabs">Tabs</a></li>
                  <li class="nav-item"><a class="nav-link" href="../accordion/index.html" title="Accordion">Accordion</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              
              <a class="nav-link" href="#menu-5" title="เมนู 5" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="menu-5"><i class="fad fa-chart-pie"></i><span class="nav-link-text">เมนู 5</span></a>
              <div class="collapse" id="menu-5">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item"><a class="nav-link" href="#" title="เมนูย่อย 5">เมนูย่อย 5</a></li>
                  <li class="nav-item"><a class="nav-link" href="#" title="เมนูย่อย 5">เมนูย่อย 5</a></li>
                  <li class="nav-item"><a class="nav-link" href="#" title="เมนูย่อย 5">เมนูย่อย 5</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- Main content-->
  <main class="main-content" id="panel">
    <!-- Topnav-->
    <nav class="navbar navbar-top navbar-expand navbar-light bg-lighter border-bottom">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form-->
          <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
            <div class="form-group mb-0">
              <div class="input-group input-group-alternative input-group-merge">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-search"></i></span></div>
                <label class="sr-only" for="search">ค้นหา</label>
                <input class="form-control" id="search" placeholder="ค้นหา" type="text">
              </div>
            </div>
            <button class="close" type="button" data-action="search-close" data-target="#navbar-search-main" aria-label="Close"><span aria-hidden="true">×</span></button>
          </form>
          <!-- Navbar links-->
          <ul class="navbar-nav align-items-center ml-md-auto">
            <!-- Sidenav toggler-->
            <li class="nav-item d-xl-none">
              <div class="pr-3 sidenav-toggler sidenav-toggler-light" data-action="sidenav-pin" data-target="#sidenav-main">
                <div class="sidenav-toggler-inner"><i class="sidenav-toggler-line"></i><i class="sidenav-toggler-line"></i><i class="sidenav-toggler-line"></i></div>
              </div>
            </li>
            <!-- Notification-->
            <li class="nav-item dropdown"><a class="nav-link" href="#" title="แจ้งเตือน" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fad fa-bell"></i></a>
              <!-- Dropdown header-->
              <div class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden">
                <div class="px-3 py-3">
                  <h6 class="text-sm text-muted m-0">คุณมี <strong class="text-primary">3</strong> การแจ้งเตือน</h6>
                </div>
                <!-- List group-->
                <div class="list-group list-group-flush">
                  
                  <a class="list-group-item list-group-item-action" href="#" title="">
                    <div class="row align-items-center">
                      <div class="col-auto"><img class="avatar rounded-circle" alt="" src="../../uploads/team-1.jpg"></div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">ปฐมพงศ์</h4>
                          </div>
                          <div class="text-right text-muted"><small>2 hrs ago</small></div>
                        </div>
                        <p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
                      </div>
                    </div></a>
                  <a class="list-group-item list-group-item-action" href="#" title="">
                    <div class="row align-items-center">
                      <div class="col-auto"><img class="avatar rounded-circle" alt="" src="../../uploads/team-2.jpg"></div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">หนุ่ม</h4>
                          </div>
                          <div class="text-right text-muted"><small>3 hrs ago</small></div>
                        </div>
                        <p class="text-sm mb-0">A new issue has been reported for 724.</p>
                      </div>
                    </div></a>
                  <a class="list-group-item list-group-item-action" href="#" title="">
                    <div class="row align-items-center">
                      <div class="col-auto"><img class="avatar rounded-circle" alt="" src="../../uploads/team-3.jpg"></div>
                      <div class="col ml--2">
                        <div class="d-flex justify-content-between align-items-center">
                          <div>
                            <h4 class="mb-0 text-sm">ฝ่ายบุคคล</h4>
                          </div>
                          <div class="text-right text-muted"><small>6 ชั่วโมงที่แล้ว</small></div>
                        </div>
                        <p class="text-sm mb-0">อย่าลืมอัปเดตข้อมูลส่วนตัวด้วยนะ</p>
                      </div>
                    </div></a>
                  <a class="dropdown-item text-center text-primary font-weight-bold py-3" href="#" title="ดูการแจ้งเตือนทั้งหมด">ดูการแจ้งเตือนทั้งหมด</a>
                </div>
                <!-- Switcher-->
                <li class="nav-item dropdown">
                  
                  <a class="nav-link" href="#" title="เปลี่ยนระบบ" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fad fa-window-restore"></i></a>
                  <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark dropdown-menu-right switcher">
                    <div class="row shortcuts px-4">
                      
                      <a class="col-3 shortcut-item" href="#" title="Angular"><span class="shortcut-media avatar rounded-circle"><i class="fab fa-angular"></i></span><small>Angular</small></a>
                      <a class="col-3 shortcut-item" href="#" title="Bootstrap"><span class="shortcut-media avatar rounded-circle"><i class="fab fa-bootstrap"></i></span><small>Bootstrap</small></a>
                      <a class="col-3 shortcut-item" href="#" title="Codepen"><span class="shortcut-media avatar rounded-circle"><i class="fab fa-codepen"></i></span><small>Codepen</small></a>
                      <a class="col-3 shortcut-item" href="#" title="Github"><span class="shortcut-media avatar rounded-circle"><i class="fab fa-github-alt"></i></span><small>Github</small></a>
                    </div>
                  </div>
                </li>
              </div>
            </li>
          </ul>
          <!-- Profile user-->
          <ul class="navbar-nav align-items-center ml-auto ml-md-0">
            <li class="nav-item dropdown">
              
              <a class="nav-link pr-0" href="#" title="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center"><span class="avatar avatar-sm rounded-circle"><img alt="" src="../../uploads/team-1.jpg"></span>
                  <div class="media-body ml-2 d-none d-lg-block"><span class="mb-0 text-sm font-weight-bold">ปฐมพงศ์</span></div>
                </div></a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header noti-title">
                  <h5 class="text-overflow m-0">สวัสดี !</h5>
                  
                </div><a class="dropdown-item" href="#" title="ประวัติส่วนตัว"><i class="fad fa-user-circle"></i><span>ประวัติส่วนตัว</span></a>
                <a class="dropdown-item" href="#" title="ตั้งค่า"><i class="fad fa-cogs"></i><span>ตั้งค่า</span></a>
                <a class="dropdown-item" href="#" title="ตารางงาน"><i class="fad fa-table"></i><span>ตารางงาน</span></a>
                <a class="dropdown-item" href="#" title="ช่วยเหลือ"><i class="fad fa-question-circle"></i><span>ช่วยเหลือ</span></a>
                <a class="dropdown-item" href="#" title="ออกจากระบบ"><i class="fad fa-sign-out-alt"></i><span>ออกจากระบบ</span></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Breadcrumb-->
    <div class="header bg-gray-1 pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-12">
              <nav class="d-none d-md-inline-block" aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-links breadcrumb-light">
                  <li class="breadcrumb-item"><a href="#" title="กลับไปหน้า Dashboard"><i class="fad fa-home-lg-alt"></i></a></li>
                  <li class="breadcrumb-item"><a href="#" title="Dashboard">Dashboards</a></li>
                  <li class="breadcrumb-item active" aria-current="page">เมนูย่อย</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Content area-->
    <div class="container-fluid mt--6">
      
      
      
      
      <!-- ========================= Page content ===============================-->
      <div class="container-content">
        <div class="example">Input content HERE !</div>
      </div>
      <!-- ======================== End Page content =============================-->
      
      
      
      <!-- Footer-->
      <footer class="footer">
        <div class="copyright text-center text-lg-left">
          <label class="text-muted copy">&copy;</label><a class="font-weight-bold ml-1 link" href="#" title="" target="_blank"></a>
        </div>
      </footer>
    </div>
  </main>
  <!-- Main Script-->
<script src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
    <script async src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script async src="../../assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="../../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="../../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- <script src="../../assets/vendor/bootstrap-select-1.13.14/dist/js/bootstrap-select.min.js"></script> -->
    <script defer src="../../assets/js/monito.js?v=1.2.0"></script>

  <!-- Custom Script-->
  </body>
</html>