@import "../variables/variables";

.logo-brand {
    content: var(--logo-brand);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    color: var(--primary-color);
    opacity: 0.8;
}

a.text-primary:hover,
a.text-primary:focus {
    color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.navbar {
    min-height: 81px;
}

.sidenav-header {
    background-color: var(--primary-color);
}

.sidenav-menu {
    background-color: var(--secondary-color);
}

.sidenav-menu .navbar-nav .nav-item .nav-link {
    color: #fff;
}

.sidenav-menu .navbar-nav .nav-item .nav-link:hover {
    color: var(--text-secondary-color);
    opacity: 0.8;
}

/* arrow icon menu */

.navbar-vertical .navbar-nav .nav-link[data-toggle="collapse"]:after {
    color: #fff;
}

.navbar-vertical .navbar-nav .nav-link[data-toggle="collapse"][aria-expanded="true"]:after {
    color: var(--primary-color);
}

/* sidebar icon burger menu */

.sidenav-toggler-dark .sidenav-toggler-line {
    background-color: #ffffff;
}

/* switcher */

.switcher {
    background-color: var(--secondary-color);
}

.switcher .shortcuts a {
    color: var(--text-secondary-color);
}

.switcher .shortcuts a:hover {
    color: var(--text-secondary-color);
    opacity: 0.8;
}

.shortcut-media {
    background-color: #ffffff;
}

.shortcut-media i {
    color: var(--primary-color);
}

/* copyright */

.copyright {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.copyright label.copy {
    margin-bottom: 0;
}

.copyright label.copy::after {
    content: var(--copyright-year);
}

.copyright a.link::before {
    content: var(--copyright-brand);
    cursor: pointer;
}

/* container content */

.container-content {
    min-height: 70vh;
}

.container-content .example {
    border: 1px dashed #88a3b0;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #88a3b0;
}

.form-group.focused,
.form-control:focus {
    border-color: var(--primary-color) !important;
}

.form-group.focused,
.input-group-text {
    border-color: var(--primary-color) !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color) linear-gradient(180deg, var(--primary-color), var(--primary-color)) repeat-x;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary {
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color) linear-gradient(180deg, var(--primary-color), var(--primary-color)) repeat-x;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-primary:hover {
    opacity: 0.9;
    color: #fff;
    border-color: var(--primary-color);
    background: var(--primary-color) linear-gradient(180deg, var(--primary-color), var(--primary-color)) repeat-x;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn-light {
    color: #525f7f;
    border-color: #e2e7ed;
    background: #ffffff;
    box-shadow: none;
}

.btn-light:hover {
    color: #525f7f;
    border-color: #e2e7ed;
    background: #ffffff;
    box-shadow: none;
}

.btn-light:focus {
    border-color: var(--primary-color) !important;
}

.btn-light:active {
    border-color: var(--primary-color) !important;
}

.btn-light:not(:disabled):not(.disabled):active,
.btn-light:not(:disabled):not(.disabled).active,
.show>.btn-light.dropdown-toggle {
    border-color: var(--primary-color) !important;
    background-color: #ffffff;
    color: #525f7f;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    border-color: var(--primary-color) !important;
    outline: none !important;
}

/* Custom components */

.card-header-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.grid {
    width: 100%;
    border: 1px solid rgba(0, 50, 70, 0.3);
    padding: 1rem;
    background-color: rgba(0, 50, 70, 0.3);
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    text-align: center;
    margin-top: 2rem;
}

.is-invalid {
    border-color: $error !important;
}

.invalid-feedback {
    color: $error !important;
}

.form-check-input.is-invalid~.form-check-label {
    color: $error !important;
}

.input-group {
    position: relative;

    .input-group-prepend {
        &.prepend-icon {
            position: absolute;
        }

        &.left {
            left: 1px;
            z-index: 10;
            top: 3px;
            transform: translate(10%, 10%);

            span {
                line-height: .875rem;
                font-size: .875rem;
                ;
            }

            i {
                line-height: .875rem;
            }
        }

        &.right {
            right: 6px;
            z-index: 10;
            top: 3px;
            transform: translate(10%, 10%);

            span {
                line-height: .875rem;
                font-size: .875rem;
                ;
            }

            i {
                line-height: .875rem;
            }
        }

        .input-group-text {
            // border-radius: 0;
            border: 0;
        }
    }

    .input-icon-left {
        padding-left: 2.8rem;
        border-top-left-radius: .25rem !important;
        border-bottom-left-radius: .25rem !important;
    }

    .input-icon-right {
        padding-right: 2.8rem;
        border-top-right-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important;
    }
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.form-group .bootstrap-select,
.form-horizontal .bootstrap-select,
.form-inline .bootstrap-select {
    width: 100%;
    padding: 0;
}

.btn-light {
    font-weight: normal;
}

.btn-light.disabled,
.btn-light:disabled {
    opacity: 1;
    background-color: #eaf0f8;
    color: #88a3b0;
    border: 1px solid #e2e7ed;
}

.align-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.align-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.align-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.align-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-icon {
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.5rem 0.75rem;
}

.btn-twitter {
    background-color: #00acee;
    border-color: #00acee;
    color: #ffffff;
}

.btn-facebook {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #ffffff;
}

.btn-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: #ffffff;
    border-color: #ffffff;
}

.btn-youtube {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #ffffff;
}

.btn-line {
    background-color: #00B900;
    border-color: #00B900;
    color: #ffffff;
}

.btn-skype {
    background-color: #00aff0;
    border-color: #00aff0;
    color: #ffffff;
}

.btn-pinterest {
    background-color: #E60023;
    border-color: #E60023;
    color: #ffffff;
}

.btn-whatsapp {
    background-color: #4AC959;
    border-color: #4AC959;
    color: #ffffff;
}

.btn-snapchat {
    background-color: #FFFC00;
    border-color: #FFFC00;
    color: #ffffff;
}

.btn-discord {
    background-color: #7289da;
    border-color: #7289da;
    color: #ffffff;
}

.btn-git {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.icon-left {
    i {
        padding-right: 0.5rem;
    }
}

.icon-right {
    i {
        padding-left: 0.5rem;
    }
}

.modal-custom-theme {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-header {
    align-items: center;
}

.modal-message {
    .modal-header {
        padding-bottom: 0;
    }

    .modal-body {
        &.modal-warning {

            h2,
            p,
            label,
            i {
                color: $error;
            }

            .content-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1rem;

                i {
                    font-size: 5rem;
                    text-align: center;
                }
            }
        }

        &.modal-success {

            h2,
            p,
            label,
            i {
                color: $success;
            }

            .content-icon {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 1rem;

                i {
                    font-size: 5rem;
                    text-align: center;
                }
            }

        }
    }
}

.nav-tabs .nav-link {
    padding: 0.5rem 1rem;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #ffffff;
    border-bottom-color: #ffffff;

}

.tab-content {
    border-left: 1px solid #e2e7ed;
    border-right: 1px solid #e2e7ed;
    border-bottom: 1px solid #e2e7ed;
    background-color: #ffffff;
    padding-top: 1rem;
}

.pills-content {
    border-top: 1px solid #e2e7ed;
    padding: 1rem;
}

.nav-tabs-vertical {
    flex-direction: column;
    border-bottom: 0;

    &.nav-tabs {
        width: 15%;
        float: left;
    }

    &.nav-tabs .nav-link {
        border-top-left-radius: .375rem;
        border-top-right-radius: 0;
        border-bottom-left-radius: .375rem;
        border-bottom-right-radius: 0;

        &:hover {
            border-right: 0;
        }
    }

    &.nav-tabs .nav-link.active,
    &.nav-tabs .nav-item.show .nav-link {
        background-color: #ffffff;
        border: 1px solid #e2e7ed;
        border-right: 0;
        transform: translateX(1px);
    }
}



.tab-content-vertical {
    width: 85%;
    border-top: 1px solid #e2e7ed;
    float: left;
}

.tabs-vertical {
    display: block;
    // flex-direction: row;
    width: 100%;
    // align-items: stretch;
}

#accordion {
    width: 100%;

    .card {
        margin-bottom: 1rem;
    }

    .card-header {
        padding: 0;

        button {
            padding: 1.25rem 1.5rem !important;
            padding: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.collapsed-custom {
    .collapsed>i:before {
        content: "\f107";
    }
}




/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input.primary:checked+.slider {
    background-color: #007bff;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}